<h1>The Comics Test</h1>

<h2>Random Stories from Iron Man</h2>

<% if @story.blank? %>
    <p>The API did not return a response</p>
<% else %>
    <h3>Story Description:</h3>
    <p><%= @story.description %></p>

    <h3>Featured characters:</h3>

    <ul id = "characters">
        <% @story.characters.each do |characters| %>
        <li>
            <h4><%= characters %></h4>
        </li>
        <% end %>
    </ul>

    <ul id = "characters images">
        <% @story.characterImages.each do |character_image| %>
        <li>
            <img src=<%= character_image %> class="image" alt="character_image">
        </li>
        <% end %>
    </ul>

    <h4>Marvel attribution text:</h4>
    <p><%= @story.attributionText %></p>
<% end %>
